.wrapper {
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  background-color: whitesmoke;
  border-radius: 30px; */
}
.accordion {
  padding: 20px 30px;
  min-height: 500px;
}
.image {
  text-align: center;
  height: 100px;
}
.image_main {
  width: 250px;
  position: relative;
  top: -130px;
}
.image_bottom {
  position: relative;
  top: -210px;
}

.head {
  text-align: center;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.question:hover {
  color: hsl(14, 88%, 65%);
}
.btn {
  color: hsl(14, 88%, 65%);
  font-size: 1.5rem;
}
.answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.answer.show {
  height: auto;
  max-height: 9999;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.ans {
  color: hsl(240, 6%, 50%);
  padding-right: 50px;
}
hr {
  border-top: 1px solid hsl(240, 1%, 78%);
}

@media screen and (min-width: 600px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 900px;
    background-color: whitesmoke;
    border-radius: 30px;
  }
  .accordion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 30px 30px;
  }
  .image {
    text-align: left;
  }
  .image_main {
    width: 400px;
    position: relative;
    left: -100px;
  }

  .image_bottom {
    width: 400px;
    position: relative;
    left: -100px;
  }
  .head {
    text-align: left;
  }
}
