body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
  height: 100vh;
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


